.container {
  margin-bottom: 70px;
}

button {
  width: 130px;
  height: 50px;
  border-top-right-radius: 15px;
  border-top-left-radius: 0px;
}

.character-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5px;
}

.character-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav {
  margin-left: 50px;
  margin-right: 5px;
  color: white;
}

.content {
  margin: 0 auto;
  width: 80%;
  padding: 50px 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 15px;
}

.content:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.intro {
  margin-left: 20px;
  margin-right: 50px;
  line-height: 1.5em;
  min-height: 270px;
}
.character-intro {
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
}

.toolbar {
  background-color: rgb(64, 64, 64);
  color: white;
  margin-bottom: 50px;
}

.add-character {
  position: fixed;
  left: 0;
  bottom: 0;
}

.character-list {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.selectedComics {
  padding-inline-start: 0px;
}
.characterList {
  padding-inline-start: 0px;
}

.button-delete {
  margin-left: 90%;
  cursor: pointer;
}

.image {
  float: left;
  margin: 10px 20px;
  clear: both;
}

.image > .cover {
  object-fit: contain;
}

.character-image {
  text-align: center;
  padding-top: 15px;
}

.banner {
  background-color: red;
  font-size: 13px;
  padding: 5px 10px;
  width: 30px;
  color: white;
  border-style: solid 1px;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
}
