<div class="container">
  <mat-toolbar class="toolbar">
    <a class="nav" routerLink=""> Home </a> / {{ selectedComicTitle }}
  </mat-toolbar>

  <div *ngIf="selectedComics" class="app-comic-detail">
    <ul class="selectedComics">
      <div class="content">
        <div class="image">
          <img
            class="cover"
            src="{{ selectedComics.image }}"
            width="180px"
            height="260px"
          />
        </div>
        <div class="intro">
          <h2>{{ selectedComics.name }}</h2>
          {{ selectedComics.description }}
        </div>
      </div>
    </ul>
  </div>
  <div>
    <div *ngIf="allCharacters" class="character-list">
      <!-- <div *ngIf="newCharactersList">
        <ul class="characterList" *ngFor="let newcharacter of newCharactersList">
          <div class="character-card">
              <div
                class="button-delete"
                (click)="openDeleteDialog(newcharacter.id)"
              >
                X
              </div>
              <div class="character-image">
            <img
              src="{{ newcharacter.imageUrl }}"
              onError="this.onerror=null;this.alt='Image not found';"
              width="120px"
              height="150px"
            />
            </div>
            <div class="character-intro">
            <h4>{{ newcharacter.name }}</h4>
            {{ newcharacter.description }}
            </div>
          </div>
        </ul>
      </div> -->

      <ul class="characterList" *ngFor="let character of allCharacters">
        <div class="character-card">
          <div
                *ngIf="!character.hasOwnProperty('numberOfRoles')"
                class="button-delete"
                (click)="openDeleteDialog(character.id)"
              >
                X
              </div>
          <div class="character-image" *ngIf="character.hasOwnProperty('image')">
            <img
              src="{{ character.image }}"
              width="120px"
              height="150px"
              onError="this.onerror=null;this.src='assets/img-error.png';"
            />
          </div>
          <div class="character-image" *ngIf="character.hasOwnProperty('images')">
              <img
                src="{{ character.images }}"
                width="120px"
                height="150px"
              />
            </div>
          <div *ngIf="character.numberOfRoles >= 2000" class="character-intro">
            <h4>{{ character.name }}<span class="banner">Popular</span></h4>
            {{ character.description }}
          </div>
          <div *ngIf="character.numberOfRoles < 2000 || !character.numberOfRoles " class="character-intro">
            <h4>{{ character.name }}</h4>
            {{ character.description }}
          </div>
          <br />
        </div>
      </ul>
      <div class="add-character">
        <button color="primary" mat-raised-button (click)="openDialog()">
          Add character +
        </button>
      </div>
    </div>
  </div>
</div>
