<div>
  <mat-toolbar class="toolbar">
    <a class="nav" routerLink=""> Home </a> / {{ selectedComicTitle }}
  </mat-toolbar>
  <div>
    <div *ngIf="characters" class="app-comic-detail">
      <ul class="characterList" *ngFor="let character of characters">
        <div class="content">
          <div class="image">
            <img src="{{ character.image }}" width="180px" height="250px" />
          </div>
          <div class="intro">
            <h2>{{ character.name }}</h2>
            {{ character.description }}
          </div>
        </div>
      </ul>
      <div class="add-character">
        <button color="primary" mat-raised-button (click)="openDialog()">
          Add character +
        </button>
      </div>

      <ul *ngIf="newCharactersList" class="character-list">
        <li *ngFor="let newcharacter of newCharactersList">
          <div class="new-character-card">
            <div>
              <div
                class="button-delete"
                (click)="onDeleteCharacter(newcharacter.id)"
              >
                X
              </div>
            </div>
            <img
              class="image"
              src="{{ newcharacter.imageUrl }}"
              onError="this.onerror=null;this.alt='Image not found';"
              width="140px"
              height="180px"
            />
            <h3>{{ newcharacter.name }}</h3>
            <p>{{ newcharacter.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
